.editor-header {
    display: flex;

    justify-content: center;
    margin: auto;

    padding-top: 1vw;
    padding-bottom: 3vw;
}

.editor-tracks {
    position: relative;

    width: 70vw;
    min-height: 20vh;

    justify-content: center;
    margin: auto;
}

.editor-instrument {
    padding-top: 1vw;
}