.ph-body {
    transform: translateY(-10%);
    position: absolute;
    top: 0;

    background-color: #D44A5F;
    z-index: 10;
    
    width: 5px;
    height: 110%;
}

.ph-head {
    transform: translateX(calc(-50% + 2.5px));
    position: absolute;
    top: 0;

    background-image: url("../assets/playhead.svg");
    background-size: contain;
    background-repeat: no-repeat;

    width: 30px;
    height: 30px;

    cursor: ew-resize;
}

@keyframes ph-slide {
    0% { left: var(--start-pos); }
    100% { left: 100%; }
}